<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion_IU.Properties.Settings.DBDematazoConnectionString"
            connectionString="Data Source=DESKTOP-6DHONKN\SQLEXPRESS;Initial Catalog=DBDematazo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>